.cartTitle{
    text-align: center;
    font-family: 'Lobster';
    margin-block: 1rem;
    font-size: 2.5rem;
}
.cartParag{
    width: 90%;
    margin-inline: auto;
    text-align: center;
    font-family: 'Roboto';
    margin-block: 2rem;
}
.itemContainer{
    display: flex;
    align-items: center;
    border:1px solid #e7e7e7;
    margin-block: 2rem;
    -webkit-box-shadow:0px 0px 15px 5px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.49);
}
.buttonNImage{
    width: 30%;
    margin-inline: auto;
    margin-block: 1.5rem;
}
.buttonContainer{
    position: absolute;
}
.removeBtn{
    all: unset;
    width: 10px;
    height: 10px;
    padding: 2px;
    text-align: center;
    line-height: 0px;
    font-family: 'Roboto';
    position: relative;
    bottom: 85px;
}
.itemImage{
    width: 100px;
}
.infoContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}
.infoContainer p{
    font-family: 'Roboto';
}
.totalPayment {
    width: 90%;
    margin: auto;
    text-align: center;
}
.totalPayment p{
    font-family: 'Roboto';
    font-size: 1.2rem;
}
.buyDeleteContainer{
    width: 90%;
    margin-inline: auto;
    text-align: center;
}
.buyDeleteContainer button{
    border-radius: 5px;
    margin-inline: 1rem;
    margin-block: 1rem;
    padding-block: 5px;
    padding-inline: 20px;
}
.buyButton{
    background-color: #000;
    color: #e7e7e7;
    font-family: 'Lobster';
    transition: all 300ms;
}
.buyButton:hover {
    -webkit-box-shadow: 0px 0px 5px 1px #000;
    -moz-box-shadow: 0px 0px 5px 1px #000;
    box-shadow: 0px 0px 5px 1px #000;
}
.emptyCartButton{
    background-color: transparent;
    color: #000;
    border:1px solid #000;
}
.purchaseSignContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 75vw;
    height: 25vh;
    border: 1px solid #000;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.7);
}
.purchaseSignTitle{
    font-family: 'Lobster';
    font-size: 1.7rem;
    color: #000;
}
.purchaseSignRedirect{
    all: unset;
    cursor: pointer;
    font-family: 'Playfair';
    font-size: 1.4rem;
    text-decoration: underline #e7e7e7;
    background-color: #000;
    color: #e7e7e7;
    padding: 10px;
}
.purchaseSignFinal{
    font-family: 'PlayFair';
    font-size: 1.2rem;
    text-align: center;
    margin-inline: 5px;
    color: #000;
}
.buttonDisabled{
    pointer-events: none;
}
.emptyCart {
    position: absolute;
    bottom: 0;
  }
/*media querys*/
/*tablet*/
@media (min-width: 520px){
    .buttonNImage img{
        width: 150px;
    }
    .infoContainer{
        width: 45%;
    }
    .removeBtn{
        bottom: 120px;
    }
    .purchaseSignContainer{
        width: 50vw;
        height: 50vh;
    }
}
/*desktop*/
@media (min-width: 1280px){
    .itemContainer{
        width: 80%;
        margin-inline: auto;
    }
    .buttonNImage img{
        width: 8rem;
    }
    .removeBtn{
        bottom: 100px;
        left: 5px;
    }
    .buyDeleteContainer button{
        margin-inline: 1rem;
        margin-block: 1rem;
        padding-block: 5px;
        padding-inline: 20px;
        font-size: 1.3rem;
    }
    .purchaseSignTitle{
        font-size: 2rem;
    }
    .purchaseSignRedirect{
        font-size: 1.5rem;
    }
    .purchaseSignFinal{
        font-size: 1.5rem;
    }
}