.contentWrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.commanderTitle{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    text-wrap: pretty;
    text-align: center;
}
.commanderTitle h1{
    font-family: 'PlayFair';
    margin-block: 1rem;
}
.commanderTitle span{
    font-family: 'roboto';
}
.commanderPrecons{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.commanderPrecons img{
    width: 55vw;
}
.commanderPrecons p{
    text-align: center;
    font-family: 'Playfair';
}
h2{
    font-family: 'Roboto';
    font-size: 1.2rem;
}
h3{
    font-family: 'Lobster';
}
.preconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-block: 1rem;
}
.titleSimic {
    background: linear-gradient(126deg, #1dd942, #095991);
    background-clip: text;
    color: transparent;
}
.titleGrixis {
    background: linear-gradient(90deg, rgba(9, 89, 145, 1) 10%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 65%, rgba(209, 4, 47, 1) 90%);
    background-clip: text;
    color: transparent;
}
.titleAzorius {
    background: linear-gradient(90deg, rgba(240, 241, 133, 1) 10%, rgba(9, 89, 145, 1) 90%);
    background-clip: text;
    color: transparent;
}
.backgroundSimic{
    background: rgb(29,217,66);
    background: linear-gradient(90deg, rgba(29,217,66,0.3) 10%, rgba(9,89,145,0.3) 90%);
}
.backgroundAzorius{
    background: rgb(240,241,133);
    background: linear-gradient(90deg, rgba(240,241,133,0.3) 10%, rgba(9,89,145,0.3) 90%);
}
.backgroundGrixis{
    background: rgb(9,89,145);
    background: linear-gradient(90deg, rgba(9,89,145,0.3) 10%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.3) 70%, rgba(209,4,47,0.3) 90%);
}
.preconList{
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s linear;
}
.preconList.transition {
    visibility: visible;
    opacity: 1;
    height: 100%;
}
.preconButton{
    all: unset;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Lobster';
    margin-block: 1rem;
    text-align: center;
    width: 30%;
    padding-block: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}
/*media querys*/
/*tablet*/
@media (min-width: 560px){
    .preconButton{
        margin-top: 2rem;
        font-size: 1.2rem;
        transition: all 0.5s;
    }
    .preconButton:hover{
        background-color: #000;
        color: #fff;
    }
    .commanderPrecons{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .commanderPrecons img{
        width: 25vw;
    }
    .preconContainer{
        margin-inline: 0.5rem;
    }
    .preconButton{
        font-size: 1rem;
        width: 50%;
    }
}
/*desktop*/
@media (min-width: 1280px){

}