.contentWrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.commanderTitle{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    text-wrap: pretty;
    text-align: center;
}
.commanderTitle h1{
    font-family: 'PlayFair';
    margin-block: 1rem;
}
.commanderTitle span{
    font-family: 'roboto';
}
.commanderPrecons{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.commanderPrecons img{
    width: 55vw;
}
.commanderPrecons p{
    text-align: center;
}
.preconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: aqua;
    margin-block: 1rem;
}
/*media querys*/
/*tablet*/
@media (min-width: 560px){
}
/*desktop*/
@media (min-width: 1280px){

}