/* 
titulos
font-family: 'Playfair Display', serif;
cuerpo
font-family: 'Lato', sans-serif;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
footer{
    background-color: #4B0002;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*media queries*/
/*tablet*/
@media (min-width: 520px){
    
}
/*desktop*/
@media (min-width: 1280px){
    
}