/* 
titulos
font-family: 'Playfair Display', serif;
cuerpo
font-family: 'Lato', sans-serif;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.indexTitle{
    text-align: center;
    font-family: 'Playfair';
    margin-block: 1rem;
    margin-top: 2rem;
}
.services{
    height: 150px;
    display: flex;
    width: 90%;
    margin: auto;
}
.servicesTitle{
    width: 45%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.servicesTitle h2{
    font-family: 'PlayFair';
    font-size: 1rem;
}
.servicesTitle p{
    font-size: 0.9rem;
    text-wrap: balance;
    text-align: center;
}
.servicesTitle img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 60px;
    opacity: 0.3;
}
.relative{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    bottom: 60px;
}
.buylistLink{
    text-align: center;
}
.buylistLink h4{
    font-family: 'Roboto';
    font-size: 1rem;
    margin-block: 1rem;
}
.buylistLink a{
    all: unset;
    cursor: pointer;
    font-family: 'PlayFair';
    color: blue;
}
section{
    width: 90%;
    margin: auto;
}
.sectionContainer{
    text-align: center;
    width: 90%;
    margin: auto;
}
.plains{
    background-image: url('/images/plains.png');
    background-size: cover;
}
.mountain{
    background-image: url('/images/mountain.png');
    background-size: cover;
}
.swamp{
    background-image: url('/images/swamp.png');
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
}
.container img{
    width: 30%;
    height: auto;
    margin-inline: 5px;
}
.linker{
    all: unset;
}
.indexButton{
    all: unset;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Lobster';
    margin-block: 1rem;
    text-align: center;
    width: 30%;
    padding-block: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}
hr{
    color: transparent;
    width: 70%;
    margin-inline: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    background: linear-gradient(126deg, rgba(255,255,255,1) 10%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 90%);
    height: 2px;
}
.payment{
    margin-bottom: 2rem;
    text-align: center;
}
.carrouselContainer{
    overflow: hidden;
  }
  .carrousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;
    animation: scroll 15s linear infinite;
  }
  .carrousel img{
    height: 100px;
  }
  @keyframes scroll{
    to {
      translate: calc(-4 * 15rem);
    }
  }
  .indexPayment{
    margin-top: 0rem;
}
/*media querys*/
/*tablet*/
@media (min-width: 520px){
    .servicesTitle{
        transition: all 0.5s;
    }
    /* .servicesTitle:hover{
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.8);-webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.8);-moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.8);
    } */
    .servicesTitle h2{
        font-size: 1.5rem;
    }
    .servicesTitle p{
        font-size: 1rem;
    }
    .servicesTitle img{
        opacity: 0.4;
    }
    .servicesTitle img:hover{
        transform: scale(1.2);
        filter: blur(5px);
        filter: grayscale(100%);
        opacity: 0.3;
    }
    .relative{
        bottom: 120px;
    }
    .mountain{
        background-size:contain;
    }
    .sectionContainer h3{
        font-size: 1.8rem;
    }
    .container{
        position: relative;
    }
    .img1{
        transition: all 0.5s;
    }
    .img1:hover{
        scale:  1.1;
        z-index: 3;
    }
    .indexButton{
        margin-top: 2rem;
        font-size: 1.2rem;
        transition: all 0.5s;
    }
    .indexButton:hover{
        background-color: #000;
        color: #fff;
    }
    .carrousel{
        grid-auto-columns: 20rem;
      }
    .carrousel img{
        height: 125px;
      }
      @keyframes scroll{
        to {
          translate: calc(-4 * 20rem);
        }
      }
}
/*desktop*/
@media (min-width: 1280px){
    .services{
        margin-block: 3rem;
    }
    .servicesTitle{
        width: 30%;
    }
    .servicesTitle img{
        opacity: 0.5;
    }
    .relative{
        bottom: 130px;
    }
    .buylistLink h4{
        font-size: 1.1rem;
        margin-block: 1.5rem;
    }
    .buylistLink a{
        font-size: 1.2rem;
    }
    .container img{
        width: 20%;
        height: auto;
    }
    .indexButton{
        width: 20%;
    }
    .payment h4{
        font-size: 2rem;
    }
}