.sectionsContainer{
    min-height: 70vh;
    width: 90%;
    margin-inline: auto;
}
.sectionsTitle{
    font-family: 'Playfair';
    text-align: center;
    margin-top: 1rem;
}
.sectionsSubtitle{
    text-align: center;
    margin-bottom: 2rem;
    text-wrap: balance;
}
.contentContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentFilters{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.filter{
    margin-block: 0.5rem;
    text-align: center;
}
.filter input{
    margin-block: 0.5rem;
    width: 90%;
}
.priceRange{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.colors{
    display: flex;
    justify-content: center;
}
.colors img{
    width: 30px;
    height: auto;
    margin-inline: 10px;
    cursor: pointer;
}
.unactiveColors{
    opacity: 0.4;
}
.activeColors{
    opacity: 1;
}
.buttonFilters{
    all: unset;
    text-align: center;
    width: 30%;
    padding-block: 5px;
    margin-inline: auto;
    margin-block: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: 'Lobster';
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.contentDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contentDisplay a{
    flex: 0 0 45%;
    margin: 5px;
}
.contentDisplay a img{
    width: 100%;
}
.seeMoreButton{
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.seeMoreButton button{
    all: unset;
    cursor: pointer;
    text-align: center;
    width: 30%;
    padding-block: 5px;
    margin-block: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: 'Lobster';
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    transition: all 0.5s;
}
.seeMoreButton .seeMore{
    background-color: #000;
    color: #fff;
}
/*media querys*/
/*tablet*/
@media (min-width: 560px){
    .sectionsSubtitle{
        width: 70%;
        margin-inline: auto;
    }
    .contentContainer{
        flex-direction: row;
        align-items: flex-start;
    }
    .contentFilters{
        width: 30%;
        height: 80vh;
    }
    .priceRange{
        flex-direction: column;
    }
    .filter{
        margin-block: 0rem;
    }
    .filter input{
        margin-block: 0rem;
        outline: #000;
    }
    .lowerPrice{
        margin-bottom: 2rem;
    }
    .filterP{
        font-size: 1.2rem;
    }
    .colors img{
        width: 13%;
        margin-inline: 2px;
    }
    .buttonFilters{
        width: 50%;
        transition: all 0.5s;
    }
    .buttonFilters:hover{
        background-color: #000;
        color: #fff;
    }
    .contentDisplay{
        width: 70%;
        position: relative;
    }
    .contentDisplay a{
        flex: 0 0 30%;
        z-index: auto;
    }
    .contentDisplay a img{
        transition: all 0.5s;
    }
    .contentDisplay a img:hover{
        transform: scale(1.2);
    }
    .contentDisplay a img:hover a{
        z-index: 5;
    }
    .seeMoreButton{
        width: 50%;
    }
}
/*desktop*/
@media (min-width: 1280px){
    .sectionsSubtitle{
        width: 50%;
        font-size: 1.2rem;
    }
    .contentFilters{
        width: 20%;
        height: 80vh;
    }
    .contentDisplay{
        width: 80%;
    }
    .contentDisplay a{
        flex: 0 0 20%;
    }
    .seeMoreButton{
        width: 50%;
    }
}