<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cart.css" defer>
        <!-- scripts -->
        <script src="/js/cart.js"></script>
    <title>Tu Carrito</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Tu carrito de compras</h1>
    <div class="container">
    <!-- <div class='itemContainer'>
            <div class= 'button&Image'>
                <div class= 'buttonContainer'>
                    <button class='removeBtn'>X</button>
                </div>
                <img class='itemImage'></img>
            </div>
            <div class= 'infoContainer'>
                <p class='itemTitle'></p>
                <p class='itemQuantity'></p>
                <p class='itemPrice'></p>
                <p class='itemTotal'></p>
            </div>
        </div> -->
    </div>
    <%- include('partials/footer') %>
</body>
</html>