<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cart.css" defer>
        <!-- scripts -->
        <script src="/js/cart.js"></script>
    <title>Tu Carrito</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Hola, soy tu carrito</h1>
    <%- include('partials/footer') %>
</body>
</html>