<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cart.css" defer>
        <!-- scripts -->
        <script src="/js/cart.js"></script>
    <title>Tu Carrito</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Tu carrito de compras</h1>
    <div class="container"></div>
    <p class="totalPayment"></p>
    <%- include('partials/footer') %>
</body>
</html>