<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/cart.css" defer>
        <!-- scripts -->
        <script src="/js/cart.js"></script>
    <title>Tu Carrito</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="cartTitle">Tu carrito de compras</h1>
    <p class="cartParag">Estos son los productos que metiste en tu carrito. ¡Estás a un paso de que sean tuyos!</p>
    <div class="container"></div>
    <div class="totalPayment"></div>
    <div class="buyDeleteContainer"></div>
    <%- include('partials/footer') %>
</body>
</html>