<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/commander.css">
</head>
<body>
    <div class="contentWrapper">
        <%- include('partials/header') %>
        <main>
            <div class="commanderTitle">
                <h1>Commander</h1>
                <p>¿No tenés tiempo para una brew? ¿Querés aprender a jugar el formato más popular de Magic o una experiencia sit & play?
                <span>Tenemos tu precon ideal.</span></p>
            </div>
            <div class="commanderPrecons">
                <img src="/images/explorersofthedeep.png" alt="precon merfolks">
                <img src="/images/ahoymateys.png" alt="precon pirates">
                <img src="/images/firstflight.png" alt="precon flyers">
            </div>
        </main>
        <%- include('partials/footer') %>
    </div>
</body>
</html>