<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/section.css">
    <title>Destacado - MTG DFE</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="sectionsContainer">
        <h1 class="sectionsTitle">Destacados</h1>
        <h2>Aqui van las cartas</h2>
    </div>
    <%- include('partials/footer') %>
</body>
</html>