<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/section.css">
    <title>Destacado - MTG DFE</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="sectionsContainer">
        <h1 class="sectionsTitle">Novedades</h1>
        <p class="sectionsSubtitle">Accede a los mejores productos del mundo de los cartones mágicos. Los singles más bucados o los productos sellados del momento e incluso de colección.</p>
        <div class="sectionsOptions">
            <button class="sectionsOption active">Singles</button>
            <button class="sectionsOption inactive">Sellado</button>
        </div>
        <div class="contentContainer">
            <div class="contentFilters">
                <p>Precio Máximo</p>
                <p>Precio Mínimo</p>
                <p>Color</p>
                <p>Playset Disponible</p>
                <p>palabra clave</p>
            </div>
            <div class="contentDisplay">
                <% for( let i = 0; i < cards.length; i++ ) { %>
                    <% if (cards[i].featured == 1) { %>
                        <img class="img1" src="<%= cards[i].front_img %>"/>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="pagination">
            <button class="page current">1</button>
            <button class="page">2</button>
            <button class="page">3</button>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>