<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="indexTitle">MTG Singles DFE</h1>
    <div class="services">
        <div class="servicesTitle">
            <h2>hola</h2>
            <p>soy un párrafo</p>
        </div>
        <div class="servicesTitle">
            <h2>hola</h2>
            <p>soy un párrafo</p>
        </div>
    </div>
    <main>
        <h3>Nuevos Ingresos</h3>
        <div>
            <div class="cardContainer"></div>
        </div>
        <h3>Destacados</h3>
        <div>
            <div class="cardContainer"></div>
        </div>
        <h3>Ofertas</h3>
        <div>
            <div class="cardContainer"></div>
        </div>
    </main>
    <section>
        <div class="payment">
            <h4>Soy un método de pago</h4>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>