<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <div id="container" class="container"></div>
    <%- include('partials/footer') %>
</body>
</html>