<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="indexTitle">MTG Singles DFE</h1>
    <div class="services">
        <div class="servicesTitle">
            <h2>¡Compramos tus cartas!</h2>
            <p>Acercate a nuestro local para acceder a una cotización inmediata y obtené store credit o efectivo.</p>
        </div>
        <div class="servicesTitle">
            <h2>¡Vendemos singles!</h2>
            <p>Armá o completá tu deck con nuestro amplio stock de singles para todos los formatos.</p>
        </div>
    </div>
    <main>
        <h3 class="indexTitle">Nuevos Ingresos</h3>
        <div>
            <div class="container"></div>
        </div>
        <h3 class="indexTitle">Destacados</h3>
        <div>
            <div class="container"></div>
        </div>
        <h3 class="indexTitle">Ofertas</h3>
        <div>
            <div class="container"></div>
        </div>
    </main>
    <section>
        <div class="payment">
            <h4>Soy un método de pago</h4>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>