<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/section.css">
    <!-- scripts -->
    <!-- <script src="/js/filters.js" defer></script> -->
    <script src="/js/categoryContent.js" defer></script>
    <title>Ofertas - MTG DFE</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="sectionsContainer">
        <h1 class="sectionsTitle">Ofertas</h1>
        <p class="sectionsSubtitle">¡Nuestras ofertas son la oportunidad que esperabas para comprar esa carta que tanto querés!</p>
        <div class="contentContainer">
            <div class="contentFilters">
                <div class="filter priceRange">
                    <div class="lowerPrice">
                        <p class="filterP">Precio mínimo</p>
                        <input class="price" type="text" id="precioMinimo" placeholder="0">
                    </div>
                    <div>
                        <p class="filterP">Precio máximo</p>
                        <input type="text" id="precioMaximo" placeholder="500">
                    </div>
                </div>
                <div class="filter">
                    <p class="filterP">Colores</p>
                    <div class="colors">
                        <img class="color unactiveColors" src="/images/u.png" alt="" id="blue">
                        <img class="color unactiveColors" src="/images/b.png" alt="" id="black">
                        <img class="color unactiveColors" src="/images/g.png" alt="" id="green">
                        <img class="color unactiveColors" src="/images/red.png" alt="" id="red">
                        <img class="color unactiveColors" src="/images/W.png" alt="" id="white">
                        <img class="color unactiveColors" src="/images/c.png" alt="" id="colorless">
                    </div>
                </div>
                <div class="filter">
                    <input type="search" id="busquedaSection" name="busquedaSection" placeholder="Palabra Clave">
                </div>
                <button class="buttonFilters" id="buttonFilters">Aplicar Filtros</button>
            </div>
            <div class="contentDisplay">

            </div>
        </div>
        <div class="seeMoreButton">
            <button class="seeMore">Ver más</button>
            <button class="seeLess">Ver menos</button>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>