<footer>
    <div class="socials">
        <h1 class="footerTitle">¡Seguinos en nuestras redes sociales!</h1>
        <div class="socialsIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
    </div>
    <div class="categories">
        <h2 class="footerTitle">Categorías:</h2>
        <div class="categoriesList">
            <a href="">Novedades</a>
            <a href="">Obras Destacadas</a>
            <a href="">Autores Argentinos</a>
            <a href="">Todos los libros</a>
        </div>
    </div>
    <div class="access">
        <a href="">Iniciá Sesión</a>
        <p>|</p>
        <a href="">Registrate</a>
    </div>
    <div class="linkedin">
        <a href=""><i class="fa-brands fa-linkedin"></i> Jonathan Uriel Gómez</a>
    </div>
</footer>