<footer>
    <div class="footerDiv">
        <div class="infoStore">
            <div class="storeAddress infoFooter">
                <h1 class="footerTitle">Visitanos</h1>
                <p><a href="https://www.google.com/maps/d/u/0/viewer?mid=1dTChUSBGRo1eZ6v3N0jQWyUsjmY&hl=en_US&ll=-34.717880104053044%2C-58.38360750333304&z=19" target="_blank"><i class="fa-solid fa-location-dot"></i></a> Cabrero al 2007, BsAs</p>
                <p><i class="fa-solid fa-phone"></i> 555-5555-555</p>
                <p><i class="fa-solid fa-at"></i> soyunmail@gmail.com</p>
            </div>
            <div class="storeSocials infoFooter">
                <h2 class="footerTitle">RRSS</h2>
                <p><a href="https://www.youtube.com/watch?v=mCdA4bJAGGk" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a href="https://www.youtube.com/watch?v=mCdA4bJAGGk" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a></p>
                <p><a href="https://www.youtube.com/watch?v=mCdA4bJAGGk" target="_blank"><i class="fa-brands fa-x-twitter"></i> Twitter</a></p>
            </div>
            <div class="contactMe infoFooter">
                <h2 class="footerTitle">¡Dame Chamba!</h2>
                <p><a href="https://www.linkedin.com/in/gomezjonathanwd/" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a></p>
                <p><a href="https://wa.me/1123917209" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a></p>
            </div>
        </div>
        <!-- <p class="copyrightFooter">© 2024 Todos los derechos e izquierdos reservados</p> -->
    </div>
</footer>