<header>
    <nav>
        <div>
            <a href=""><img src="/images/dfe-logo.png" alt="logo dfe"></a>
        </div>
        <div class="searchBar">
            <input type="text" placeholder="Busca por título o autor...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="accountMenu">
            <!-- logo user -->
            <i class="fa-solid fa-user"></i>
            <!-- dropdown menu Mi cuenta -->
            <a href="">login</a>
            <a href="">register</a>
            <!-- dropdown menu Mi cuenta -->
        </div>
        <div class="productCart">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
</header>