<header>
    <nav>
        <div>
            <a href=""><img src="/images/dfe-logo.png" alt=""></a>
        </div>
        <div>
            <input type="text" placeholder="Busca por título o autor...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div>
            <!-- dropdown menu Mi cuenta -->
            <a href="">login</a>
            <a href="">register</a>
            <!-- dropdown menu Mi cuenta -->
        </div>
        <a href="">carrito</a>
    </nav>
</header>